<table class="scoreTable">
  <tbody>
    <tr>
      <td class="mc">
        {{ scoreData.Mc1.name }}
      </td>

      <td *ngFor="let patron of scoreData.Mc1.easyMode.patrons; let i = index">
        <mat-form-field class="scoreInput" style="margin-left: 5px;">
          <input type="text" class="inputTextCenter" patronNumber maxlength="1" matInput [(ngModel)]="patron.score" autocomplete="off" tabindex="{{i*2 + 1}}" />
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="scoreInput" style="margin-left: 20px;">
          <input type="text" class="inputTextCenter" placeholder="Sk" maxlength="1" extraScoreNumber matInput [(ngModel)]="scoreData.Mc1.easyMode.extraScore.skills" autocomplete="off" tabindex="{{scoreData.Mc1.easyMode.patrons.length * 2 + 1}}"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="scoreInput" style="margin-left: 5px;">
          <input type="text" class="inputTextCenter" placeholder="Fl" maxlength="1" extraScoreNumber matInput [(ngModel)]="scoreData.Mc1.easyMode.extraScore.flow" autocomplete="off" tabindex="{{scoreData.Mc1.easyMode.patrons.length * 2 + 2}}"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="scoreInput" style="margin-left: 5px;">
          <input type="text" class="inputTextCenter" placeholder="Es" maxlength="1" extraScoreNumber matInput [(ngModel)]="scoreData.Mc1.easyMode.extraScore.scene" autocomplete="off" tabindex="{{scoreData.Mc1.easyMode.patrons.length * 2 + 3}}"/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td class="mc">
        {{ scoreData.Mc2.name }}
      </td>
      <td *ngFor="let patron of scoreData.Mc2.easyMode.patrons; let i = index">
        <mat-form-field class="scoreInput" style="margin-left: 5px;">
          <input type="text" class="inputTextCenter" patronNumber maxlength="1" matInput [(ngModel)]="patron.score" autocomplete="off" tabindex="{{i*2 + 2}}"/>
        </mat-form-field>
      </td>

      <td>
          <mat-form-field class="scoreInput" style="margin-left: 20px;">
            <input type="text" class="inputTextCenter" placeholder="Sk" maxlength="1" extraScoreNumber matInput [(ngModel)]="scoreData.Mc2.easyMode.extraScore.skills" autocomplete="off" tabindex="{{scoreData.Mc1.easyMode.patrons.length * 2 + 1 + 3}}"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Fl" maxlength="1" extraScoreNumber matInput [(ngModel)]="scoreData.Mc2.easyMode.extraScore.flow" autocomplete="off" tabindex="{{scoreData.Mc1.easyMode.patrons.length * 2 + 2 + 3}}"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Es" maxlength="1" extraScoreNumber matInput [(ngModel)]="scoreData.Mc2.easyMode.extraScore.scene" autocomplete="off" tabindex="{{scoreData.Mc1.easyMode.patrons.length * 2 + 3 + 3}}"/>
          </mat-form-field>
        </td>
    </tr>
    <tr>
        <td colspan="10">
          <div>
            <button class="glow-on-hover" type="button" (click)="navigateToHardMode()">HardMode</button>
          </div>
        </td>
    </tr>
  </tbody>
</table>


