
<div class="contenedor">
    <div>
        <a (click)="irblon()"><img src="../../../assets/images/marcos_mc/esp/tarj_blon1.png"></a>
        <a (click)="irgazir()"><img src="../../../assets/images/marcos_mc/esp/tarj_gazir.png" alt=""></a>
        <a (click)="irkhan()"><img src="../../../assets/images/marcos_mc/esp/tarj_khan.png" alt=""></a>
        <a (click)="irmnak()"><img src="../../../assets/images/marcos_mc/esp/tarj_mnak.png" alt=""></a>
        <a (click)="irmrego()"><img src="../../../assets/images/marcos_mc/esp/tarj_mrego.png" alt=""></a>
        <a (click)="irerrece()"><img src="../../../assets/images/marcos_mc/esp/tarj_errece.png" alt=""></a>
        <a (click)="irtirpa()"><img src="../../../assets/images/marcos_mc/esp/tarj_tirpa.png" alt=""></a>
        <a (click)="irbnet()"><img src="../../../assets/images/marcos_mc/esp/tarj_bnet.png" alt=""></a>
        <a (click)="irzasko()"><img src="../../../assets/images/marcos_mc/esp/tarj_zasko1.png" alt=""></a>
        <a (click)="irsweetpain()"><img src="../../../assets/images/marcos_mc/esp/tarj_sweetpain.png" alt=""></a>
    </div>
</div>
