
<div class="contenedor">
    <div>
        <a (click)="goToMc('blon', 3, 'spain')"><img src="assets/images/marcos_mc/esp/tarj_blon1.png"></a>
        <a (click)="goToMc('gazir', 3, 'spain')"><img src="assets/images/marcos_mc/esp/mvp/tarj_mvp_gazir.png" alt=""></a>
        <a (click)="goToMc('khan', 3, 'spain')"><img src="assets/images/marcos_mc/esp/tarj_khan.png" alt=""></a>
        <a (click)="goToMc('mnak', 3, 'spain')"><img src="assets/images/marcos_mc/esp/tarj_mnak.png" alt=""></a>
        <a (click)="goToMc('mrego', 1, 'spain')"><img src="assets/images/marcos_mc/esp/tarj_mrego.png" alt=""></a>
        <a (click)="goToMc('errece', 3, 'spain')"><img src="assets/images/marcos_mc/esp/tarj_errece.png" alt=""></a>
        <a (click)="goToMc('tirpa', 1, 'spain')"><img src="assets/images/marcos_mc/esp/tarj_tirpa.png" alt=""></a>
        <a (click)="goToMc('bnet', 3, 'spain')"><img src="assets/images/marcos_mc/esp/tarj_bnet.png" alt=""></a>
        <a (click)="goToMc('zasko', 3, 'spain')"><img src="assets/images/marcos_mc/esp/tarj_zasko1.png" alt=""></a>
        <a (click)="goToMc('sweetpain', 2, 'spain')"><img src="assets/images/marcos_mc/esp/tarj_sweetpain.png" alt=""></a>
    </div>
</div>
