.contenedor {
    margin-top: 100px;
    padding-left: 7rem;
    width:100%;
    max-width: width 1920px;
    column-count: 5;
}

a img:hover{
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
    transition: all 300ms;
    cursor: pointer;
}

a img{
    margin-top: 25px;
    margin-bottom: 15px;
    width: 60%;
    height: 60%;
    transition: all 300ms;
}

@media (max-width: 767px) { 
    .contenedor {
        columns:2;
    }

}
        
/* Móviles en vertical */

@media (max-width: 480px) {
    .contenedor {
        columns: 1;
    }
}