<div class="contenedor">
    <div>
        <a (click)="this.goToBattle(CONSTANTS.MNAK_NAME, CONSTANTS.KHAN_NAME, CONSTANTS.S2020_BATTLE_ESP_J1_MNAK_KHAN)"><img src="../../../assets/images/batallas_esp/S2020/J1/khan_mnak.png"></a>
        <a><img src="../../../assets/images/batallas_esp/Proximamente/j2.png"></a>
        <a><img src="../../../assets/images/batallas_esp/Proximamente/j3.png"></a>
        <a><img src="../../../assets/images/batallas_esp/Proximamente/j4.png"></a>
        <a><img src="../../../assets/images/batallas_esp/Proximamente/j5.png"></a>
        <a><img src="../../../assets/images/batallas_esp/Proximamente/j6.png"></a>
        <a><img src="../../../assets/images/batallas_esp/Proximamente/j7.png"></a>
        <a><img src="../../../assets/images/batallas_esp/Proximamente/j8.png"></a>
        <a><img src="../../../assets/images/batallas_esp/Proximamente/jornada final.png"></a>
    </div>
</div>


