
<div class="contenedor">
    <div>
        <a href="#"><img src="assets/images/batallas_per/S2020/J1/stick_ramset.png"></a>
        <a><img src="assets/images/batallas_per/Proximamente/Batalla aplazada.png"></a>
        <a><img src="assets/images/batallas_per/S2020/J3/stick_litzen.png"></a>
        <a><img src="assets/images/batallas_per/Proximamente/j4.png"></a>
        <a><img src="assets/images/batallas_per/Proximamente/j5.png"></a>
        <a><img src="assets/images/batallas_per/Proximamente/j6.png"></a>
        <a><img src="assets/images/batallas_per/Proximamente/j7.png"></a>
        <a><img src="assets/images/batallas_per/Proximamente/j8.png"></a>
        <a><img src="assets/images/batallas_per/Proximamente/jornada final.png"></a>
    </div>
</div>

