<div class="wrap">
  <header>
    <div class="container">
      <nav>
        <h1 class="libretagallos"><a href="/">La <span>Libreta</span> del Gallo</a></h1>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">WikiGallo</a></li>
          <li><a href="#">Epicardo</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="mcNameInput">
    <div class="mc1">
      <mat-form-field class="mcselection">
        <input type="text" matInput style="text-transform: uppercase;" placeholder="MC 1" class="inputTextCenter" [(ngModel)]="scoreData.Mc1.name"
          (keyup.enter)="acceptNames()" />
      </mat-form-field>
    </div>

    <div class="mc2">
      <mat-form-field class="mcselection">
        <input type="text" matInput style="text-transform: uppercase;" placeholder="MC 2" class="inputTextCenter" [(ngModel)]="scoreData.Mc2.name"
          (keyup.enter)="acceptNames()" />
      </mat-form-field>
    </div>
    <div class="boton">
      <button class="glow-on-hover" type="button" (click)="acceptNames()">Continuar</button>
    </div>
  </div>
</div>