<div class="mcNameInput">
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="MC 1" class="inputTextCenter" [(ngModel)]="scoreData.Mc1.name" (keyup.enter)="acceptNames()" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="MC 2" class="inputTextCenter" [(ngModel)]="scoreData.Mc2.name" (keyup.enter)="acceptNames()"/>
  </mat-form-field>

  <button mat-button style="width: 100%;" type="button" (click)="acceptNames()">Continuar</button>
</div>
