
<div class="contenedor">
    <div>
        <a ><img src="assets/images/batallas_chi/S2020/J1/ricto_acertijo.png"></a>
        <a><img src="assets/images/batallas_chi/S2020/J2/ricto_teorema.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j3.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j4.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j5.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j6.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j7.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j8.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/jornada final.png"></a>
    </div>
</div>
