<div class="contenedor">
    <div id='cuadrado'>
        <a href="#"><img src="../../../assets/images/escudos_fms/argentina.png" alt=""></a>
    </div>
    <div id='cuadrado'>
        <a href="#"><img src="../../../assets/images/escudos_fms/chile.png" alt=""></a>
    </div>
    <div id='cuadrado'>
        <a (click)="irfmsesp()"><img src="../../../assets/images/escudos_fms/espana.png" alt=""></a>
    </div>
    <div id='cuadrado'> 
        <a href="#"><img src="../../../assets/images/escudos_fms/peru.png" alt=""></a>
    </div>
    <div id='cuadrado'>
        <a href="#"><img src="../../../assets/images/escudos_fms/mexico.png" alt=""></a>
    </div>
    <div id='cuadrado'>
        <a href="#"><img src="../../../assets/images/escudos_fms/int.png" alt=""></a>
    </div>
</div>
