
<div class="contenedor">
    <div>
        <a (click)="this.goToBattle(CONSTANTS.DTOKE_NAME, CONSTANTS.WOLF_NAME, CONSTANTS.S2020_BATTLE_ARG_J1_DTOKE_WOLF)"><img src="assets/images/batallas_arg/S2020/J1/dtoke_wolf.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j2.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j3.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j4.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j5.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j6.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j7.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j8.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/jornada_final.png"></a>
    </div>
</div>

