
<div class="contenedor">
    <div>
        <a (click)="this.goToBattle(CONSTANTS.RAPDER_NAME, CONSTANTS.SKIPER_NAME, CONSTANTS.S2020_BATTLE_MEX_J1_RAPDER_SKIPER)"><img src="../../../../../assets/images/batallas_mex/S2020/J1/rapder_skiper.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/Proximamente/j2.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/Proximamente/j3.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/Proximamente/j4.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/Proximamente/j5.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/Proximamente/j6.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/Proximamente/j7.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/Proximamente/j8.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/Proximamente/jornada final.png"></a>
    </div>
</div>

