
<div class="contenedor">
    <div>
        <a (click)="goToMc('cacha',3, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_cacha.png"></a>
        <a (click)="goToMc('klan',3, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_klan.png" alt=""></a>
        <a (click)="goToMc('dtoke',2, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_dtoke.png" alt=""></a>
        <a (click)="goToMc('mecha',3, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_mecha.png" alt=""></a>
        <a (click)="goToMc('papo',3, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_papo.png" alt=""></a>
        <a (click)="goToMc('mks',3, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_mks.png" alt=""></a>
        <a (click)="goToMc('stuart',2, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_stuart.png" alt=""></a>
        <a (click)="goToMc('sub',3, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_sub.png" alt=""></a>
        <a (click)="goToMc('nacho',2, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_nacho.png" alt=""></a>
        <a (click)="goToMc('wolf',1, 'argentina')"><img src="../../../assets/images/marcos_mc/arg/tarj_wolf.png" alt=""></a>
    </div>
</div>
