
<div class="contenedor">
    <div>
        <a (click)="ircacha()"><img src="../../../assets/images/marcos_mc/arg/tarj_cacha.png"></a>
        <a (click)="irklan()"><img src="../../../assets/images/marcos_mc/arg/tarj_klan.png" alt=""></a>
        <a (click)="irdtoke()"><img src="../../../assets/images/marcos_mc/arg/tarj_dtoke.png" alt=""></a>
        <a (click)="irmecha()"><img src="../../../assets/images/marcos_mc/arg/tarj_mecha.png" alt=""></a>
        <a (click)="irpapo()"><img src="../../../assets/images/marcos_mc/arg/tarj_papo.png" alt=""></a>
        <a (click)="irmks()"><img src="../../../assets/images/marcos_mc/arg/tarj_mks.png" alt=""></a>
        <a (click)="irstuart()"><img src="../../../assets/images/marcos_mc/arg/tarj_stuart.png" alt=""></a>
        <a (click)="irsub()"><img src="../../../assets/images/marcos_mc/arg/tarj_sub.png" alt=""></a>
        <a (click)="irnacho()"><img src="../../../assets/images/marcos_mc/arg/tarj_nacho.png" alt=""></a>
        <a (click)="irwolf()"><img src="../../../assets/images/marcos_mc/arg/tarj_wolf.png" alt=""></a>
    </div>
</div>
