
<div class="contenedor">
    <div>
        <a href="#"><img src="../../../../../assets/images/batallas_mex/bone_jonyb.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/jornadas proximas/j2.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/jornadas proximas/j3.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/jornadas proximas/j4.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/jornadas proximas/j5.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/jornadas proximas/j6.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/jornadas proximas/j7.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/jornadas proximas/j8.png"></a>
        <a><img src="../../../../../assets/images/batallas_mex/jornadas proximas/jornada final.png"></a>
    </div>
</div>
