
<div class="contenedor">
    <div>
        <a (click)="this.goToBattle(CONSTANTS.JAZE_NAME, CONSTANTS.JOTA_NAME, CONSTANTS.S2020_BATTLE_PERU_J1_JAZE_JOTA)"><img src="../../../../../assets/images/batallas_per/S2020/J1/jota_jaze.png"></a>
        <a (click)="this.goToBattle(CONSTANTS.LITZEN_NAME, CONSTANTS.JOTA_NAME, CONSTANTS.S2020_BATTLE_PERU_J2_LITZEN_JOTA)"><img src="../../../../../assets/images/batallas_per/S2020/J2/jota_litzen.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/S2020/J3/jota_skill.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j4.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j5.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j6.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j7.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j8.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/jornada final.png"></a>
    </div>
</div>

