<table class="scoreTable">
  <tbody>
    <div class="thematic">
      <tr class="firstThematic">
        <td class="mc">
          {{ scoreData.Mc1.name }}
        </td>

        <td *ngFor="let patron of scoreData.Mc1.thematic1.patrons">
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" patronNumber maxlength="1" matInput [(ngModel)]="patron.score"
              autocomplete="off" />
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="scoreInput" style="margin-left: 20px;">
            <input type="text" class="inputTextCenter" placeholder="Sk" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc1.thematic1.extraScore.skills" autocomplete="off" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Fl" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc1.thematic1.extraScore.flow" autocomplete="off" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Es" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc1.thematic1.extraScore.scene" autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr class="secondThematic">
        <td class="mc">
          {{ scoreData.Mc2.name }}
        </td>
        <td *ngFor="let patron of scoreData.Mc2.thematic1.patrons">
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" patronNumber maxlength="1" matInput [(ngModel)]="patron.score" autocomplete="off" />
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="scoreInput" style="margin-left: 20px;">
            <input type="text" class="inputTextCenter" placeholder="Sk" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc2.thematic1.extraScore.skills" autocomplete="off"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Fl" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc2.thematic1.extraScore.flow" autocomplete="off"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Es" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc2.thematic1.extraScore.scene" autocomplete="off"/>
          </mat-form-field>
        </td>
      </tr>
    </div>
    <!--SECOND THEMATIC-->
    <div class="thematic">
      <tr class="firstThematic">
        <td class="mc">
          {{ scoreData.Mc2.name }}
        </td>

        <td *ngFor="let patron of scoreData.Mc2.thematic2.patrons">
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" patronNumber maxlength="1" matInput [(ngModel)]="patron.score" />
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="scoreInput" style="margin-left: 20px;">
            <input type="text" class="inputTextCenter" placeholder="Sk" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc2.thematic2.extraScore.skills" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Fl" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc2.thematic2.extraScore.flow" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Es" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc2.thematic2.extraScore.scene" />
          </mat-form-field>
        </td>
      </tr>
      <tr class="secondThematic">
        <td class="mc">
          {{ scoreData.Mc1.name }}
        </td>
        <td *ngFor="let patron of scoreData.Mc2.thematic2.patrons">
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" patronNumber maxlength="1" matInput [(ngModel)]="patron.score" />
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="scoreInput" style="margin-left: 20px;">
            <input type="text" class="inputTextCenter" placeholder="Sk" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc1.thematic2.extraScore.skills" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Fl" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc1.thematic2.extraScore.flow" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Es" extraScoreNumber maxlength="1" matInput
              [(ngModel)]="scoreData.Mc1.thematic2.extraScore.scene" />
          </mat-form-field>
        </td>
      </tr>
    </div>
    <tr>
      <td colspan="10">
        <div>
          <button class="glow-on-hover" type="button" (click)="navigateToCharacters()">Personajes</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
