
<div class="contenedor">
    <div>
        <a (click)="this.goToBattle(CONSTANTS.MR_EGO_NAME, CONSTANTS.TIRPA_NAME, CONSTANTS.S2020_BATTLE_ESP_J1_MR_EGO_TIRPA)"><img src="../../../assets/images/batallas_esp/tirpa_mrego.png"></a>
        <a><img src="../../../assets/images/batallas_esp/jornadas_prox/plantilla prox 2.png"></a>
        <a><img src="../../../assets/images/batallas_esp/jornadas_prox/plantilla prox 3.png"></a>
        <a><img src="../../../assets/images/batallas_esp/jornadas_prox/plantilla prox 4.png"></a>
        <a><img src="../../../assets/images/batallas_esp/jornadas_prox/plantilla prox 5.png"></a>
        <a><img src="../../../assets/images/batallas_esp/jornadas_prox/plantilla prox 6.png"></a>
        <a><img src="../../../assets/images/batallas_esp/jornadas_prox/plantilla prox 7.png"></a>
        <a><img src="../../../assets/images/batallas_esp/jornadas_prox/plantilla prox 8.png"></a>
        <a><img src="../../../assets/images/batallas_esp/jornadas_prox/plantilla prox final.png"></a>
    </div>
</div>


