
<div class="contenedor">
    <div>
        <a (click)="goToMc('teorema',6, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_teorema.png"></a>
        <a (click)="goToMc('esezeta',3, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_esezeta.png" alt=""></a>
        <a (click)="goToMc('elmenor',4, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_elmenor.png" alt=""></a>
        <a (click)="goToMc('jokker',2, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_jokker.png" alt=""></a>
        <a (click)="goToMc('acertijo',3, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_acertijo.png" alt=""></a>
        <a (click)="goToMc('nitro',1, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_nitro.png" alt=""></a>
        <a (click)="goToMc('joqerr',1, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_joqerr.png" alt=""></a>
        <a (click)="goToMc('pepegrillo',2, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_pepegrillo.png" alt=""></a>
        <a (click)="goToMc('ricto',2, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_ricto.png" alt=""></a>
        <a (click)="goToMc('tomcrowley',2, 'chile')"><img src="../../../assets/images/marcos_mc/chi/tarj_tomcrowley.png" alt=""></a>
    </div>
</div>

