
<div class="contenedor">
    <div>
        <a (click)="irteorema()"><img src="../../../assets/images/marcos_mc/chi/tarj_teorema.png"></a>
        <a (click)="iresezeta()"><img src="../../../assets/images/marcos_mc/chi/tarj_esezeta.png" alt=""></a>
        <a (click)="irelmenor()"><img src="../../../assets/images/marcos_mc/chi/tarj_elmenor.png" alt=""></a>
        <a (click)="irjokker()"><img src="../../../assets/images/marcos_mc/chi/tarj_jokker.png" alt=""></a>
        <a (click)="iracertijo()"><img src="../../../assets/images/marcos_mc/chi/tarj_acertijo.png" alt=""></a>
        <a (click)="irnitro()"><img src="../../../assets/images/marcos_mc/chi/tarj_nitro.png" alt=""></a>
        <a (click)="irjoqerr()"><img src="../../../assets/images/marcos_mc/chi/tarj_joqerr.png" alt=""></a>
        <a (click)="irpepegrillo()"><img src="../../../assets/images/marcos_mc/chi/tarj_pepegrillo.png" alt=""></a>
        <a (click)="irricto()"><img src="../../../assets/images/marcos_mc/chi/tarj_ricto.png" alt=""></a>
        <a (click)="irtomcrowley()"><img src="../../../assets/images/marcos_mc/chi/tarj_tomcrowley.png" alt=""></a>
    </div>
</div>

