<table class="scoreTable">
  <tbody>
    <tr>
      <td class="mc">
        {{ scoreData.Mc1.name }}
      </td>

      <td *ngFor="let patron of scoreData.Mc1.deluxe.patrons" style="margin-left: 5px;">
        <mat-form-field class="scoreInput">
          <input type="text" class="inputTextCenter" patronNumber maxlength="1" matInput [(ngModel)]="patron.score"  />
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="scoreInput" style="margin-left: 20px;">
          <input type="text" class="inputTextCenter" placeholder="Sk" extraScoreNumber matInput [(ngModel)]="scoreData.Mc1.deluxe.extraScore.skills" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="scoreInput" style="margin-left: 5px;">
          <input type="text" class="inputTextCenter" placeholder="Fl" extraScoreNumber matInput [(ngModel)]="scoreData.Mc1.deluxe.extraScore.flow" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="scoreInput" style="margin-left: 5px;">
          <input type="text" class="inputTextCenter" placeholder="Es" extraScoreNumber matInput [(ngModel)]="scoreData.Mc1.deluxe.extraScore.scene" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td class="mc">
        {{ scoreData.Mc2.name }}
      </td>
      <td *ngFor="let patron of scoreData.Mc2.deluxe.patrons">
        <mat-form-field class="scoreInput" style="margin-left: 5px;">
          <input type="text" class="inputTextCenter" patronNumber maxlength="1" matInput [(ngModel)]="patron.score"  />
        </mat-form-field>
      </td>

      <td>
          <mat-form-field class="scoreInput" style="margin-left: 20px;">
            <input type="text" class="inputTextCenter" placeholder="Sk" extraScoreNumber matInput [(ngModel)]="scoreData.Mc2.deluxe.extraScore.skills" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Fl" extraScoreNumber matInput [(ngModel)]="scoreData.Mc2.deluxe.extraScore.flow" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="scoreInput" style="margin-left: 5px;">
            <input type="text" class="inputTextCenter" placeholder="Es" extraScoreNumber matInput [(ngModel)]="scoreData.Mc2.deluxe.extraScore.scene" />
          </mat-form-field>
        </td>
    </tr>
    <tr>
        <td colspan="10">
          <div>
            <button class="glow-on-hover deluxe" type="button" (click)="navigateToResults()">Resultados</button>
          </div>
        </td>
    </tr>
  </tbody>
</table>
