
<div class="contenedor">
    <div>
        <a (click)="this.goToBattle(CONSTANTS.PEPE_GRILLO_NAME, CONSTANTS.EL_MENOR_NAME, CONSTANTS.S2020_BATTLE_CHI_J1_PEPE_GRILLO_EL_MENOR)"><img src="assets/images/batallas_chi/S2020/J1/pepegrillo_elmenor.png"></a>
        <a (click)="this.goToBattle(CONSTANTS.ESEZETA_NAME, CONSTANTS.EL_MENOR_NAME, CONSTANTS.S2020_BATTLE_CHI_J2_ESEZETA_EL_MENOR)"><img src="assets/images/batallas_chi/S2020/J2/esezeta_elmenor.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j3.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j4.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j5.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j6.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j7.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/j8.png"></a>
        <a><img src="assets/images/batallas_chi/Proximamente/jornada final.png"></a>
    </div>
</div>
