<ul>
    <li><a href="#"><img class="backfms" src="escudos_fms/argentina.png"></a></li>
    <li><a href="#"><img class="backfms" src="escudos_fms/espana.png"></a></li>
    <li><a href="#"><img class="backfms" src="escudos_fms/mexico.png"></a></li>
    <li><a href="#"><img class="backfms" src="escudos_fms/chile.png"></a></li>
    <li><a href="#"><img class="backfms" src="escudos_fms/peru.png"></a></li>
    <li><a href="#"><img class="backfms" src="escudos_fms/int.png"></a></li>
</ul>

<div id="player1" [hidden]="!visible">
<div id="player"></div>
</div>

<router-outlet></router-outlet>
