
<div class="contenedor">
    <div>
        <a><img src="../../../../assets/images/batallas_arg/S2020/J1/mecha_klan.png"></a>
        <a><img src="../../../../assets/images/batallas_arg/Proximamente/j2.png"></a>
        <a><img src="../../../../assets/images/batallas_arg/Proximamente/j3.png"></a>
        <a><img src="../../../../assets/images/batallas_arg/Proximamente/j4.png"></a>
        <a><img src="../../../../assets/images/batallas_arg/Proximamente/j5.png"></a>
        <a><img src="../../../../assets/images/batallas_arg/Proximamente/j6.png"></a>
        <a><img src="../../../../assets/images/batallas_arg/Proximamente/j7.png"></a>
        <a><img src="../../../../assets/images/batallas_arg/Proximamente/j8.png"></a>
        <a><img src="../../../../assets/images/batallas_arg/Proximamente/jornada_final.png"></a>
    </div>
</div>
