
<div class="contenedor">
    <div>
        <a (click)="this.goToBattle(CONSTANTS.POTENCIA_NAME, CONSTANTS.RC_NAME, CONSTANTS.S2020_BATTLE_MEX_J1_POTENCIA_RC)"><img src="assets/images/batallas_mex/S2020/J1/potencia_rc.png"></a>
        <a (click)="this.goToBattle(CONSTANTS.POTENCIA_NAME, CONSTANTS.GARZA_NAME, CONSTANTS.S2020_BATTLE_MEX_J2_POTENCIA_GARZA)"><img src="assets/images/batallas_mex/S2020/J2/potencia_garza.png"></a>
        <a><img src="assets/images/batallas_mex/Proximamente/j3.png"></a>
        <a><img src="assets/images/batallas_mex/Proximamente/j4.png"></a>
        <a><img src="assets/images/batallas_mex/Proximamente/j5.png"></a>
        <a><img src="assets/images/batallas_mex/Proximamente/j6.png"></a>
        <a><img src="assets/images/batallas_mex/Proximamente/j7.png"></a>
        <a><img src="assets/images/batallas_mex/Proximamente/j8.png"></a>
        <a><img src="assets/images/batallas_mex/Proximamente/jornada final.png"></a>
    </div>
</div>
