
<div class="contenedor">
    <div>
        <a (click)="irlobo()"><img src="../../../assets/images/marcos_mc/mex/tarj_lobo.png"></a>
        <a (click)="irbone()"><img src="../../../assets/images/marcos_mc/mex/tarj_bone.png" alt=""></a>
        <a (click)="irjonyb()"><img src="../../../assets/images/marcos_mc/mex/tarj_jonyb.png" alt=""></a>
        <a (click)="irgarza()"><img src="../../../assets/images/marcos_mc/mex/tarj_garza.png" alt=""></a>
        <a (click)="irrc()"><img src="../../../assets/images/marcos_mc/mex/tarj_rc.png" alt=""></a>
        <a (click)="irpotencia()"><img src="../../../assets/images/marcos_mc/mex/tarj_potencia.png" alt=""></a>
        <a (click)="iryoiker()"><img src="../../../assets/images/marcos_mc/mex/tarj_yoiker.png" alt=""></a>
        <a (click)="irzticma()"><img src="../../../assets/images/marcos_mc/mex/tarj_zticma.png" alt=""></a>
        <a (click)="irrapder()"><img src="../../../assets/images/marcos_mc/mex/tarj_rapder.png" alt=""></a>
        <a (click)="irskiper()"><img src="../../../assets/images/marcos_mc/mex/tarj_skiper.png" alt=""></a>
    </div>
</div>
