
<div class="contenedor">
    <div>
        <a (click)="goToMc('lobo',2, 'mexico')"><img src="assets/images/marcos_mc/mex/mvp/tarj_mvp_lobo.png"></a>
        <a (click)="goToMc('bone',0, 'mexico')"><img src="assets/images/marcos_mc/mex/tarj_bone.png" alt=""></a>
        <a (click)="goToMc('jonyb',5, 'mexico')"><img src="assets/images/marcos_mc/mex/tarj_jonyb.png" alt=""></a>
        <a (click)="goToMc('garza',3, 'mexico')"><img src="assets/images/marcos_mc/mex/tarj_garza.png" alt=""></a>
        <a (click)="goToMc('rc',2, 'mexico')"><img src="assets/images/marcos_mc/mex/tarj_rc.png" alt=""></a>
        <a (click)="goToMc('potencia',1, 'mexico')"><img src="assets/images/marcos_mc/mex/tarj_potencia.png" alt=""></a>
        <a (click)="goToMc('yoiker',1, 'mexico')"><img src="assets/images/marcos_mc/mex/tarj_yoiker.png" alt=""></a>
        <a (click)="goToMc('zticma',1, 'mexico')"><img src="assets/images/marcos_mc/mex/tarj_zticma.png" alt=""></a>
        <a (click)="goToMc('rapder',3, 'mexico')"><img src="assets/images/marcos_mc/mex/tarj_rapder.png" alt=""></a>
        <a (click)="goToMc('skiper',1, 'mexico')"><img src="assets/images/marcos_mc/mex/tarj_skiper.png" alt=""></a>
    </div>
</div>
