
<div class="contenedor">
    <div>
        <a (click)="goToMc('jota',1, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_jota.png"></a>
        <a (click)="goToMc('skill',4, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_skill.png" alt=""></a>
        <a (click)="goToMc('jaze',2, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_jaze.png" alt=""></a>
        <a (click)="goToMc('litzen',1, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_litzen.png" alt=""></a>
        <a (click)="goToMc('nekroos',2, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_nekroos.png" alt=""></a>
        <a (click)="goToMc('newera',3, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_newera.png" alt=""></a>
        <a (click)="goToMc('ramset',3, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_ramset.png" alt=""></a>
        <a (click)="goToMc('stick',2, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_stick.png" alt=""></a>
        <a (click)="goToMc('choque',3, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_choque.png" alt=""></a>
        <a (click)="goToMc('strike',1, 'peru')"><img src="../../../assets/images/marcos_mc/per/tarj_strike.png" alt=""></a>
    </div>
</div>