
<div class="contenedor">
    <div>
        <a (click)="irjota()"><img src="../../../assets/images/marcos_mc/per/tarj_jota.png"></a>
        <a (click)="irskill()"><img src="../../../assets/images/marcos_mc/per/tarj_skill.png" alt=""></a>
        <a (click)="irjaze()"><img src="../../../assets/images/marcos_mc/per/tarj_jaze.png" alt=""></a>
        <a (click)="irlitzen()"><img src="../../../assets/images/marcos_mc/per/tarj_litzen.png" alt=""></a>
        <a (click)="irnekroos()"><img src="../../../assets/images/marcos_mc/per/tarj_nekroos.png" alt=""></a>
        <a (click)="irnewera()"><img src="../../../assets/images/marcos_mc/per/tarj_newera.png" alt=""></a>
        <a (click)="irramset()"><img src="../../../assets/images/marcos_mc/per/tarj_ramset.png" alt=""></a>
        <a (click)="irstick()"><img src="../../../assets/images/marcos_mc/per/tarj_stick.png" alt=""></a>
        <a (click)="irchoque()"><img src="../../../assets/images/marcos_mc/per/tarj_choque.png" alt=""></a>
        <a (click)="irstrike()"><img src="../../../assets/images/marcos_mc/per/tarj_strike.png" alt=""></a>
    </div>
</div>