
<div class="contenedor">
    <div>
        <a (click)="this.goToBattle(CONSTANTS.PAPO_NAME, CONSTANTS.SUB_NAME, CONSTANTS.S2020_BATTLE_ARG_J1_PAPO_SUB)"><img src="assets/images/batallas_arg/S2020/J1/sub_papo.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j2.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j3.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j4.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j5.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j6.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j7.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/j8.png"></a>
        <a><img src="assets/images/batallas_arg/Proximamente/jornada_final.png"></a>
    </div>
</div>
