
<div class="contenedor">
    <div>
        <a (click)="this.goToBattle(CONSTANTS.NEKROOS_NAME, CONSTANTS.NEW_ERA_NAME, CONSTANTS.S2020_BATTLE_PERU_J1_NEKROOS_NEW_ERA)"><img src="../../../../../assets/images/batallas_per/S2020/J1/newera_nekroos.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/S2020/J3/nekroos_ramset.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j3.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j4.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j5.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j6.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j7.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/j8.png"></a>
        <a><img src="../../../../../assets/images/batallas_per/Proximamente/jornada final.png"></a>
    </div>
</div>

